@import "variables"
.menu
    display: flex
    align-items: center
    justify-content: space-between
    width: 85%
    margin: auto
    &__item
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        height: 100%
    &__block
        box-sizing: content-box
        top: 0
        display: flex
        justify-content: space-between
        align-items: end
        width: 100%
        position: fixed
        background-color: $light
    &__logo
        width: 88px
        height: 88px
        &__png
            width: 100%
            height: 100%
    &__list
        height: 88px
        width: 35%
        display: flex
        justify-content: space-around
        align-items: center
        list-style: none
        font-family: $fontFamily
        font-size: 19px
        margin: 0
        padding-inline: 0
    &__link
        color: $dark
        text-decoration: none
        display: block
        // &:hover
        //     background-color: rgb(196, 180, 167)

    &__basket
        padding: 5px
        border: 3px solid $dark
        border-radius: 50%
        display: flex
        justify-content: center
        align-self: center
        height: 45px
        margin-right: 50px
        &>svg
            fill: $dark
            width: 45px

header
    background-color: $light
    display: flex
    justify-content: space-around
    align-items: center
