@import "variables"
.hero
    background-image: url(../style/img/bc__2.jpg)
    background-repeat: no-repeat
    background-size: cover
    background-position-y: 70%
    &__block
        width: 1500px
        height: 700px
        margin: auto
        position: relative
        top: 88px
        margin-top: 40px
    &__filter
        background: -webkit-linear-gradient(180deg, rgba(243, 246, 251, .9), rgba(243, 246, 251, .5))
        background: -moz-linear-gradient(180deg, rgba(243, 246, 251, .9), rgba(243, 246, 251, .5))
        background: linear-gradient(180deg, rgba(243, 246, 251, .9), rgba(243, 246, 251, .5))
        height: 100%
        display: flex
        align-items: center
    &__description
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        font-family: $fontFamily
        font-size: 30px
        color: $dark
        padding: 0 100px
        text-align: center
    &__title
        margin-bottom: 20px
        &>h2
            margin: 0
            margin-block: 0
    &__text
        &>p
            text-align: justify
            text-indent: 5%
            margin: 0
