@import "variables"
.positive-list
    &__block
        width: 70%
        display: flex
        justify-content: space-between
        margin: auto
        padding: 100px
        flex-wrap: wrap
    &__border
        border: 4px solid $light
        border-radius: 20px
        width: 300px
        padding: 50px
    &__icon
        width: 100px
        height: 100px
    &__item
        display: flex
        flex-direction: column
        justify-content: start
        align-items: center
        font-family: $fontFamily
        color: $light
        text-align: center
    &__icon
        align-self: center
        fill: $light
    &__title
        font-size: 25px
        font-weight: 700
        margin-block: 15px
        &>h2
            margin: 0
            font-size: 25px
    &__text
        font-size: 20px
    &__title
        &-b
            width: 100%
            margin-bottom: 30px
            &>h2
                text-align: center
                font-size: 40px
                font-family: $fontFamily
                color: $light
