body {
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: auto;
}
.menu__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.menu__block {
  box-sizing: content-box;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  position: fixed;
  background-color: #F3F6FB;
}
.menu__logo {
  width: 88px;
  height: 88px;
}
.menu__logo__png {
  width: 100%;
  height: 100%;
}
.menu__list {
  height: 88px;
  width: 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-family: "Roboto Slab", sans-serif;
  font-size: 19px;
  margin: 0;
  padding-inline: 0;
}
.menu__link {
  color: #5A3F2E;
  text-decoration: none;
  display: block;
}
.menu__basket {
  padding: 5px;
  border: 3px solid #5A3F2E;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-self: center;
  height: 45px;
  margin-right: 50px;
}
.menu__basket > svg {
  fill: #5A3F2E;
  width: 45px;
}

header {
  background-color: #F3F6FB;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero__block {
  width: 100%;
  height: 700px;
  background-image: url(../style/img/bc__2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 70%;
}
.hero__filter {
  background: -webkit-linear-gradient(180deg, rgba(243, 246, 251, 0.9), rgba(243, 246, 251, 0.2));
  background: -moz-linear-gradient(180deg, rgba(243, 246, 251, 0.9), rgba(243, 246, 251, 0.2));
  background: linear-gradient(180deg, rgba(243, 246, 251, 0.9), rgba(243, 246, 251, 0.2));
  height: 100%;
  display: flex;
  align-items: center;
}
.hero__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Slab", sans-serif;
  font-size: 30px;
  color: #5A3F2E;
  padding: 0 100px;
  text-align: center;
}
.hero__title > h2 {
  margin: 0;
  margin-block: 0;
}
.hero__text > p {
  margin: 0;
}

.positive-list {
  top: 88px;
  background: -webkit-linear-gradient(180deg, rgb(243, 246, 251), rgb(232, 231, 229));
  background: -moz-linear-gradient(180deg, rgb(243, 246, 251), rgb(232, 231, 229));
  background: linear-gradient(180deg, rgb(243, 246, 251), rgb(232, 231, 229));
}
.positive-list__block {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 100px;
  flex-wrap: wrap;
}
.positive-list__border {
  border: 4px solid #5A3F2E;
  border-radius: 20px;
  width: 300px;
  padding: 50px;
}
.positive-list__icon {
  width: 100px;
  height: 100px;
}
.positive-list__item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-family: "Roboto Slab", sans-serif;
  color: #5A3F2E;
  text-align: center;
}
.positive-list__icon {
  align-self: center;
  fill: #5A3F2E;
}
.positive-list__title {
  font-size: 25px;
  font-weight: 700;
  margin-block: 15px;
}
.positive-list__title > h2 {
  margin: 0;
  font-size: 25px;
}
.positive-list__text {
  font-size: 20px;
}
.positive-list__title-b {
  width: 100%;
  margin-bottom: 30px;
}
.positive-list__title-b > h2 {
  text-align: center;
  font-size: 40px;
  font-family: "Roboto Slab", sans-serif;
  color: #5A3F2E;
}

.shop {
  padding: 50px;
  background: -webkit-linear-gradient(180deg, rgb(232, 231, 229), rgb(196, 180, 167));
  background: -moz-linear-gradient(180deg, rgb(232, 231, 229), rgb(196, 180, 167));
  background: linear-gradient(180deg, rgb(232, 231, 229), rgb(196, 180, 167));
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shop__title {
  margin-bottom: 30px;
}
.shop__title > h2 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 40px;
  color: #5A3F2E;
}
.shop__product {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #5A3F2E;
  border-radius: 20px;
  padding: 20px;
  width: 300px;
  background-color: #E8E7E5;
  margin-bottom: 30px;
}
.shop__product__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
}
.shop__product__title > h2 {
  font-size: 30px;
  text-align: center;
  color: #5A3F2E;
  font-weight: 600;
}
.shop__product__icon {
  height: 400px;
  width: 100%;
  background-image: url("../style/img/product_1jpg.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  margin-bottom: 20px;
}
.shop__product__counter {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.shop__product__counter__neg {
  display: block;
  margin-bottom: 10px;
  background-color: #E8E7E5;
  font-size: 30px;
  border: 3px solid #5A3F2E;
  border-radius: 7px;
}
.shop__product__counter__value {
  display: block;
  margin: 0 10px 10px 10px;
  text-align: center;
  background-color: #E8E7E5;
  border: 3px solid #5A3F2E;
  border-radius: 7px;
  font-size: 30px;
  width: 50%;
}
.shop__product__counter__pos {
  display: block;
  margin-bottom: 10px;
  background-color: #E8E7E5;
  font-size: 30px;
  border: 3px solid #5A3F2E;
  border-radius: 7px;
}
.shop__product__get {
  background-color: #E8E7E5;
  font-size: 20px;
  border: 3px solid #5A3F2E;
  border-radius: 7px;
  font-family: "Roboto Slab", sans-serif;
  padding: 5px;
}
.shop__product__price {
  font-size: 30px;
  font-family: "Roboto Slab", sans-serif;
  color: #5A3F2E;
  margin-bottom: 10px;
}

.contact {
  background: -webkit-linear-gradient(180deg, rgb(196, 180, 167), rgb(175, 137, 136));
  background: -moz-linear-gradient(180deg, rgb(196, 180, 167), rgb(175, 137, 136));
  background: linear-gradient(180deg, rgb(196, 180, 167), rgb(175, 137, 136));
  padding: 150px;
}
.contact__block {
  display: flex;
  flex-direction: column;
}
.contact__btn {
  width: 300px;
  font-size: 30px;
  background-color: #5A3F2E;
  color: #F3F6FB;
  border: 3px solid #5A3F2E;
  border-radius: 20px;
  padding: 5px 15px;
  resize: none;
  align-self: center;
}
.contact__btn:active, .contact__btn:hover, .contact__btn:focus {
  outline: 0;
  outline-offset: 0;
}
.contact__titile > h2 {
  text-align: center;
  color: #F3F6FB;
  font-size: 40px;
  font-family: "Roboto Slab", sans-serif;
}
.contact__form__title {
  font-size: 35px;
  font-family: "Roboto Slab", sans-serif;
  color: #F3F6FB;
  display: block;
}
.contact__form__input {
  width: 500px;
  font-size: 30px;
  background-color: #F3F6FB;
  color: #5A3F2E;
  border: 3px solid #5A3F2E;
  border-radius: 20px;
  padding: 5px 15px;
}
.contact__form__input:active, .contact__form__input:hover, .contact__form__input:focus {
  outline: 0;
  outline-offset: 0;
}
.contact__form__textarea {
  width: 500px;
  font-size: 30px;
  background-color: #F3F6FB;
  color: #5A3F2E;
  border: 3px solid #5A3F2E;
  border-radius: 20px;
  padding: 5px 15px;
  resize: none;
}
.contact__form__textarea:active, .contact__form__textarea:hover, .contact__form__textarea:focus {
  outline: 0;
  outline-offset: 0;
}
.contact__form__text {
  margin-bottom: 30px;
}

.adress {
  background: -webkit-linear-gradient(180deg, rgb(175, 137, 136), rgb(90, 63, 46));
  background: -moz-linear-gradient(180deg, rgb(175, 137, 136), rgb(90, 63, 46));
  background: linear-gradient(180deg, rgb(175, 137, 136), rgb(90, 63, 46));
  padding: 100px;
}
.adress__block {
  display: flex;
  justify-content: space-around;
}
.adress__title > h2 {
  text-align: center;
  color: #F3F6FB;
  font-size: 40px;
  font-family: "Roboto Slab", sans-serif;
}
.adress__list {
  color: #F3F6FB;
  font-family: "Roboto Slab", sans-serif;
}
.adress__list__item {
  font-size: 15px;
}
.adress__list__title {
  font-size: 25px;
}
.adress__list-tel {
  margin-bottom: 10px;
  padding: 0;
  list-style: none;
  font-family: "Roboto Slab", sans-serif;
  color: #F3F6FB;
}
.adress__list__links {
  display: block;
  font-size: 25px;
  color: #F3F6FB;
  font-family: "Roboto Slab", sans-serif;
}
.adress__list__links__icons {
  width: 300px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.adress__list__links__icons > svg {
  width: 25px;
  height: 25px;
  fill: #F3F6FB;
}
.adress__path-2 > iframe {
  width: 900px;
  border-radius: 20px;
  height: 400px;
}
.adress__cart {
  color: #F3F6FB;
  font-family: "Roboto Slab", sans-serif;
}/*# sourceMappingURL=index.css.map */